* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
}

/* section 1 */
.mdiv {
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to bottom, white, rgb(132, 239, 255) 40%, rgb(0, 150, 255)); */
    /* background-image: url(photo/aboutus/background1.jpg);background-repeat: no-repeat;background-size: contain; */
    height: 2730px;width: 100%;background-image: url(photo/aboutus/back1.jfif);
    background-size: cover;background-repeat: no-repeat;
}
.menubar {
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    background-color: white;
    box-shadow: 10px 30px 10px 18px white;

}
.menubar .logo img {
    height: 80px;
    width: 200px;
    margin-left: 100px;
    margin-top: 14px;
}
.navbar {
    margin-left: 240px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
    color: rgb(18, 18, 104);
    text-decoration: none;
    margin-left: 40px;
}
.navbar a:hover {
    color: rgb(45, 151, 187);
}
.navbar .bt1 {
    height: 28px;
    width: 110px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(18, 18, 104);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
    padding: 3px 20px 5px;
}
.navbar .bt1:hover {
    background-color: rgb(121, 233, 250);
    height: 30px;
    width: 110px;
    color: rgb(45, 151, 187);
    border: 1px solid rgb(18, 18, 104);
}

/* section 2 */
.about .aboutdes{
    height: 550px;width: 100%;margin-top: 115px;text-align: center;
    background: linear-gradient(to bottom, white, rgb(132, 239, 255) 40%, rgb(0, 150, 255));

}
.aboutdes h1{
    font-size: 100px;font-family: Arial, Helvetica, sans-serif;
    color: rgb(37,58,113);margin-left: 10px;padding-top: 120px;
}
.aboutdes p{
    height: 200px;width: 1100px;font-size: 18px;margin-left: 110px;margin-top: 15px; 
}
/* .about .aboutimage{
    height: 450px;width: 680px;background-image: url(photo/aboutus/ab.JPG);background-repeat: no-repeat;background-size: contain;
    
} */

/* section 3 */
.vision{
    height: 300px;width: 100%;background-color: rgb(244,245,249);
    display: flex;place-items: center;box-shadow:8px 2px 5px 5px gray;
}
.vision .ourvisionimage{
height: 300px;width: 400px;background-image: url(photo/aboutus/ourvision.jpg);background-size: contain;background-repeat: no-repeat;
margin-top: 30px;margin-left: 100px;
}
.ourvision-des{
    margin-left: 100px;width: 650px;
}
.ourvision-des h1{
    color: rgb(18, 18, 104);
    font-size: 25px;margin-bottom: 5px;
}
.ourvision-des p{
    font-size: 18px;margin-top: 10px;color:gray;
}


/* section 4 */
/* .mcontent{
    position: sticky;z-index: 1;top: 1250px;
} */
.cloud{
    height: 250px;width: 1100px;background-color: white;margin-left: 140px;margin-top: 80px;
    box-shadow: 2px 2px 2px gray;display: flex;
    border-bottom: 5px solid blue;place-items: center;
}

.cloud .image{
    background-image: url(photo/aboutus/cloud.JPG);background-size: contain;margin-top: 120px;
    background-repeat: no-repeat;height: 250px;width: 250px;margin-left: 95px;margin-right: 10px;
}
.content h3{
    margin-bottom: 10px;margin-left: 28px;
}
.content p{
    font-size: 15px;font-weight: bold;margin-left: 28px;
}
.mobile{
    height: 250px;width: 1100px;background-color: white;margin-left: 140px;margin-top: 30px;
    box-shadow: 2px 2px 2px gray;display: flex;
    border-bottom: 5px solid blue;place-items: center;
}

.mobile .image1{
    background-image: url(photo/aboutus/mobileapplication.JPG);background-size: cover;margin-top: 20px;
    background-repeat: no-repeat;height: 150px;width: 160px;margin-left: 85px;margin-right: 20px;
}
.content1 h3{
    margin-bottom: 10px;
}
.content1 p{
    font-size: 15px;font-weight: bold;
}

.reserch{
    height: 250px;width: 1100px;background-color: white;margin-left: 140px;margin-top: 30px;
    box-shadow: 2px 2px 2px gray;display: flex;
    border-bottom: 5px solid blue;place-items: center;
}

.reserch .image2{
    background-image: url(photo/aboutus/r&d.JPG);background-size: contain;margin-top: 120px;
    background-repeat: no-repeat;height: 250px;width: 250px;margin-left: 70px;margin-right: 10px;
}
.content2 h3{
    margin-bottom: 10px;
}
.content2 p{
    font-size: 15px;font-weight: bold;
}

.digital{
    height: 250px;width: 1100px;background-color: white;margin-left: 140px;margin-top: 30px;
    box-shadow: 2px 2px 2px gray;display: flex;
    border-bottom: 5px solid blue;place-items: center;
}

.digital .image3{
    background-image: url(photo/aboutus/digitalmarketing.JPG);background-size: contain;margin-top: 120px;
    background-repeat: no-repeat;height: 250px;width: 250px;margin-left: 85px;margin-right: 10px;
}
.content3 h3{
    margin-bottom: 10px;margin-left: 15px;
}
.content3 p{
    font-size: 15px;font-weight: bold;margin-left: 15px;
}

.value{
    height: 250px;width: 1100px;background-color: white;margin-left: 140px;margin-top: 30px;
    box-shadow: 2px 2px 2px gray;display: flex;
    border-bottom: 5px solid blue;place-items: center;
}

.value .image4{
    background-image: url(photo/aboutus/services.JPG);background-size: contain;margin-top: 120px;
    background-repeat: no-repeat;height: 250px;width: 250px;margin-left: 95px;margin-right: 10px;
}
.content4 h3{
    margin-bottom: 10px;margin-left: 20px;
}
.content4 p{
    font-size: 15px;font-weight: bold;margin-left: 20px;
}


/* section 7 */
.s7mdiv {
    height: 360px;
    width: 100%;
    display: flex;
    place-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 180px;
    /* align-items: center; */
    background-color: rgb(0, 82, 138);
    margin-top: 50px;
}

.s7cdiv1 {
    /* margin-left: 20px; */
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.s7cdiv1 .logo {
    height: 70px;
    width: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(photo/client/footer.JPG);
}

.s7cdiv1 .icon a{
    font-size: 40px;color:white;margin-left: 5px;margin-top: 10px;
}

.s7cdiv1 .icon a:hover{color: rgb(250, 225, 6);}
.s7cdiv2 a {
    display: block;
    width: 140px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 15px;
}

.s7cdiv2 a:hover {
    color: rgb(250, 225, 6);
}

.s7cdiv3 h3 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}

.s7cdiv3 h2 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.s7cdiv3 a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.s7cdiv3 a:hover {
    color: rgb(250, 225, 6);
}



/* section 8 */
.s8mdiv {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 61, 102);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.s8mdiv p {
    padding-top: 30px;
}

.s8mdiv a {
    color: white;
    text-decoration: none;
}

.s8mdiv a:hover {
    color: rgb(250, 225, 6);
    text-decoration: none;
    margin-top: 30px;
}
