* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* section 1 */
.mdiv {
    height: 55vh;
    width: 100%;
    background: linear-gradient(to bottom, white, rgb(132, 239, 255) 40%, rgb(0, 150, 255));

}

.mdiv h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.menubar {
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    background-color: white;
    box-shadow: 10px 30px 10px 18px white;
}

.menubar .logo img {
    height: 80px;
    width: 200px;
    margin-left: 100px;
    margin-top: 14px;
}

.navbar {
    margin-left: 240px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    color: rgb(18, 18, 104);
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    color: rgb(45, 151, 187);
}

.navbar .bt1 {
    height: 28px;
    width: 110px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(18, 18, 104);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
    padding: 3px 20px 5px;
}

.navbar .bt1:hover {
    background-color: rgb(121, 233, 250);
    height: 30px;
    width: 110px;
    color: rgb(45, 151, 187);
    border: 1px solid rgb(18, 18, 104);
}

/* section 2 */
.backdiv{
    height: 1550px;width: 100%;
    background-image: url(photo/aboutus/case3.jpg);
    background-repeat: no-repeat;background-size: cover;padding: 100px;
}
.s2mdiv{
    height: 680px;width: 800px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;box-shadow: 2px 2px 10px;
    margin: auto;padding: 80px;
}
form [type="text"]{
    width: 635px;height: 50px;background-color: rgb(209, 245, 245);
    font-size: 18px;padding-left: 18px;border-radius: 5px;
    border: none;
}
form [type="email"]{
    height: 50px;background-color: rgb(209, 245, 245);border-radius: 5px;
    border: none;width: 315px;margin-top: 20px;padding-left: 18px;font-size: 18px;margin-right: 5px;
}
form .number{
    height: 50px;background-color: rgb(209, 245, 245);border-radius: 5px;
    border: none;width: 315px;margin-top: 20px;padding-left: 18px;font-size: 18px;
}
form .company{
    width: 635px;height: 50px;background-color: rgb(209, 245, 245);
    font-size: 18px;padding-left: 18px;border-radius: 5px;
    border: none;margin-top: 20px;
}
form [type="checkbox"]{
    margin-top: 25px;margin-left: 20px;
}
form label{
    font-size: 20px;margin-left: 5px;
}
textarea{
    margin-top: 20px;background-color: rgb(209, 245, 245);width: 635px;
    border: none;border-radius: 5px;font-size: 18px;padding-left: 18px;
    padding-top: 10px;
}
form button{
    border-radius: 5px;background-color:rgb(18, 18, 104);border: none;
    color: white;font-size: 20px;height: 50px;width: 130px;margin-left: 505px;margin-top: 60px;

}
.meet{
    font-size: 35px;text-align: center;margin-top: 180px;font-family: Arial, Helvetica, sans-serif;
}
/* section 3 */
.s3mdiv{
    display: flex;justify-content: center;gap: 40px;
}
.s3mdiv div{
    height: 300px;width: 400px;border-radius: 20px 20px 20px 70px;box-shadow: 2px 2px 10px;
    background-color:rgb(255, 255, 255);margin-top: 40px;text-align: center;
}
.s3mdiv .s3div1 a{
    text-decoration: none;font-size: 60px;margin-top: 90px;
    color: rgb(18, 18, 104);
}
.s3mdiv .s3div1 h4{
    font-size: 25px;font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 91, 91);
}
.s3mdiv .s3div1 p{
    font-size: 20px;margin-top: 13px;
}
.s3mdiv .s3div2 a{
    text-decoration: none;font-size: 60px;margin-top: 80px;
    color: rgb(18, 18, 104);
}
.s3mdiv .s3div2 h4{
    font-size: 25px;margin-top: 15px;font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 91, 91);
}
.s3mdiv .s3div2 p{
    font-size: 18px;margin-top: 15px;
}
.s3mdiv .s3div3 a{
    text-decoration: none;font-size: 60px;margin-top: 80px;
    color: rgb(18, 18, 104);
}
.s3mdiv .s3div3 h4{
    font-size: 25px;margin-top: 15px;font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 91, 91);
}
.s3mdiv .s3div3 p{
    font-size: 20px;margin-top: 10px;
}
/* section 4 */
.s4mdiv {
    height: 360px;
    width: 100%;
    display: flex;
    gap: 180px;
    align-items: center;
    background-color: rgb(0, 82, 138);
}

.s4cdiv1 {
    margin-left: 150px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.s4cdiv1 .logo {
    height: 70px;
    width: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(photo/client/footer.JPG);
}

.s4cdiv1 .icon a{
    font-size: 40px;color:white;margin-left: 5px;margin-top: 10px;
}

.s4cdiv1 .icon a:hover{color: rgb(250, 225, 6);}
.s4cdiv2 a {
    display: block;
    width: 140px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 15px;
}

.s4cdiv2 a:hover {
    color: rgb(250, 225, 6);
}

.s4cdiv3 h3 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}

.s4cdiv3 h2 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.s4cdiv3 a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.s4cdiv3 a:hover {
    color: rgb(250, 225, 6);
}



/* section 5 */
.s5mdiv {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 61, 102);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.s5mdiv p {
    padding-top: 30px;
}

.s5mdiv a {
    color: white;
    text-decoration: none;
}

.s5mdiv a:hover {
    color: rgb(250, 225, 6);
    text-decoration: none;
    margin-top: 30px;
}