<<<<<<< HEAD
.oclass{
width:100%;
height:50%;
}
.mclass{
width:450px;
height:460px;
background-color:white;
border:1px solid #dfdfdf;
border-radius:10px;
margin-top:35px;
text-align:center;
margin-left:450px;
}
.google{
font-size:25px;
font-weight:bold;
}
input{
width:400px;
height:40px;
border:2px solid blue;
border-radius:5px;
padding:5px;
}
.sclass{
display:flex;
margin:25px;
}
.btn1{
width:200px;
height:40px;
color:#6161fc;
color:white;
background-color:blue;
border:1px solid blue;
border-radius:5px;
font-weight:bold;
font-family:arial;
font-size:15px;
margin-top:30px;
}
.fmail{
font-size:20px;
float:left;
padding-left:24px;
padding-top:15px;
text-decoration:none;
}
.fmail:hover{
color:red;
text-decoration:underline;
}
.learn{
font-size:20px;
float:left;
padding-left:24px;
text-decoration:none;

}
.learn:hover{
color:red;
text-decoration:underline;
}
ul{
display:flex;
}
ul a{
margin-left:27px;
margin-top:160px;
font-size:20px;
text-decoration:none;
}
ul a:hover{
color:red;
text-decoration:underline;
}
ul{
margin-left:525px;
}

=======
.oclass{
width:100%;
height:50%;
}
.mclass{
width:450px;
height:460px;
background-color:white;
border:1px solid #dfdfdf;
border-radius:10px;
margin-top:35px;
text-align:center;
margin-left:450px;
}
.google{
font-size:25px;
font-weight:bold;
}
input{
width:400px;
height:40px;
border:2px solid blue;
border-radius:5px;
padding:5px;
}
.sclass{
display:flex;
margin:25px;
}
.btn1{
width:200px;
height:40px;
color:#6161fc;
color:white;
background-color:blue;
border:1px solid blue;
border-radius:5px;
font-weight:bold;
font-family:arial;
font-size:15px;
margin-top:30px;
}
.fmail{
font-size:20px;
float:left;
padding-left:24px;
padding-top:15px;
text-decoration:none;
}
.fmail:hover{
color:red;
text-decoration:underline;
}
.learn{
font-size:20px;
float:left;
padding-left:24px;
text-decoration:none;

}
.learn:hover{
color:red;
text-decoration:underline;
}
ul{
display:flex;
}
ul a{
margin-left:27px;
margin-top:160px;
font-size:20px;
text-decoration:none;
}
ul a:hover{
color:red;
text-decoration:underline;
}
ul{
margin-left:525px;
}

>>>>>>> 20485044fec1a1a9c91368f900016922bdec63a3
